@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box_shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list_show {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  width: 25rem;
  padding: 1rem;
}
.center_box {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_card {
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(19, 29, 37);
}
.flex {
  display: flex;
}
.card_buttom {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
